{% extends "/layout/default/template.html.twig" %}
{% block contenido %}
<h2 class="text-center">Mis transacciones</h2>
 <ul class="list-group">
      
      

      <li class="list-group-item">
        <h2>Vuelos</h2>
        <table id="myTable1">
          <thead>
          <tr>
            <th>Aerolinea</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Fecha de salida</th>
            <th>Fecha de llegada</th>
            <th>Clase</th>
            <th>Cantidad de pasajeros</th>
            <th>Estado</th>
            <th>Precio total</th>
            <th>Opciones</th>
          </tr>
          </thead>
          <tbody>
          {%for reserva in reservasVuelos%}
            <tr>
              <td>{{reserva.aerolinea}}</td>
              <td>{{reserva.origenCiudad}}</td>
              <td>{{reserva.destinoCiudad}}</td>
              <td>{{reserva.salida}}</td>
              <td>{{reserva.llegada}}</td>
              {% if reserva.cantidad_economica > "0"%}
                {%set cantidad=reserva.cantidad_economica%}
                <td>Economica</td><td>{{reserva.cantidad_economica}}</td>
                }
              {%endif%}
              {% if reserva.cantidadad_primera > "0"%}
                {%set factor=config.factor_primera%}
                {%set cantidad=reserva.cantidadad_primera%}
                <td>Primera</td><td>{{reserva.cantidadad_primera}}</td>
              {%endif%}
              {% if reserva.cantidad_business > "0"%}
                {%set factor=config.factor_business%}
                {%set cantidad=reserva.cantidad_business%}
              <td>Business</td> 
              <td>{{reserva.cantidad_business}} pasajeros</td>
              {%endif%}
              <td>{{reserva.estado}}</td>
              <td>${{reserva.precio_abonado}}
              <td>
              {%if 'carrito' in reserva.estado%}
              -
              {%else%}
                {%if 'esperando consumir' in reserva.estado%}
                  {% set difference = date("now"|date("m/d/Y", "America/Argentina/Buenos_Aires")).diff(date(reserva.salida)) %}
                  {% set leftDays = difference.d %}
                  {% set leftMonths = difference.m %}
                  {%set precio =reserva.precio_abonado%}
                  {%set cuantoDevuelvo = 
                    ((leftDays*config.factor_devolucion_por_dia)/100)*precio %}
                  
                  <a onclick="javascript:return confirm('Te vamos a devolver ${%if cuantoDevuelvo > precio or leftMonths > 0%}{{precio}} (el total de tu reserva){%else%}{{cuantoDevuelvo}}{%endif%} luego de cancelar tu reserva.\n Si usaste puntos para comprar este servicio no se devolverán.\n ¿Deseas continuar con la cancelacion?');" href="{{root}}usuario/cancelarReservaVuelo?id_reserva_vuelo={{reserva.id_reserva_vuelo}}&&id_vuelo={{reserva.id_vuelo}}&&cantidad_primera={{reserva.cantidadad_primera}}&&cantidad_economica={{reserva.cantidad_economica}}&&cantidad_business={{reserva.cantidad_business}}">Cancelar</a>



                {%endif%}
              
              {%endif%}
              </td>
            </tr>
          {%endfor%}
          

         </tbody>
        </table>
      </li>

      <li class="list-group-item">
        <h2>Autos</h2>
        <table id="myTable2">
          <thead>
          <tr>
            <th>Agencia</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Marca</th>
            <th>Capacidad</th>
            <th>Gama</th>
            <th>Precio total</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
          </thead>
          <tbody>
          {%for reserva in reservasAutos%}
            {% set difference = date(reserva.hasta).diff(date(reserva.desde)) %}
            <tr>
              <td>{{reserva.nombre}}</td>
              <td>{{reserva.desde|date("d/m/Y")}}</td>
              <td>
              {% if reserva.otroPais == 1 %}
                {{reserva.hasta|date_modify("-1 day")|date("d/m/Y")}}
              {%else%}
                {{reserva.hasta|date("d/m/Y")}}
              {%endif%}
              </td>
              <td>{{reserva.marca}}</td>
              <td>{{reserva.capacidad}} personas</td>
              
              <td>{{reserva.gama}}</td>
              <td>${{reserva.precio_abonado}}</td>
              <td>{{reserva.estado}}</td>

              <td>
              {%if 'carrito' in reserva.estado%}
              -
              {%else%}
                {%if 'esperando consumir' in reserva.estado%}
                  {%set precio =reserva.precio_abonado%}
                  {% set difference = date("now"|date("m/d/Y", "America/Argentina/Buenos_Aires")).diff(date(reserva.desde)) %}
                  {% set leftDays = difference.d %}
                  {% set leftMonths = difference.m %}
                  
                  {%set cuantoDevuelvo = 
                    ((leftDays*config.factor_devolucion_por_dia)/100)*precio %}
                  
                  <a onclick="javascript:return confirm('Te vamos a devolver ${%if cuantoDevuelvo > precio or leftMonths > 0%}{{precio}} (el total de tu reserva){%else%}{{cuantoDevuelvo}}{%endif%} luego de cancelar tu reserva.\n Si usaste puntos para comprar este servicio no se devolverán.\n ¿Deseas continuar con la cancelacion?');" href="{{root}}usuario/cancelarReservaAuto?id_reserva_auto={{reserva.id_reserva_auto}}">Cancelar</a>
                {%endif%}
              {%endif%}
              </td>
            </tr>
          {%endfor%}
          
</tbody>
         
        </table>
      </li>

      <li class="list-group-item">
        <h2>Habitaciones</h2>
        <table id="myTable3">
          <thead>
          <tr>
            <th>Hotel</th>
            <th>Capacidad de Habitacion</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Precio total</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
          </thead>
          <tbody>

          
          {%for reserva in reservasHabitaciones%}
            {% set difference = date(reserva.hasta).diff(date(reserva.desde)) %}
            <tr>
              <td>{{reserva.nombre}}</td>
              <td>{{reserva.capacidad}}</td>
              <td>{{reserva.desde|date("d/m/Y")}}</td>
              <td>{{reserva.hasta|date("d/m/Y")}}</td>
              <td>${{reserva.precio_abonado}}</td>
              <td>{{reserva.estado}}</td>
              <td>
              {%if 'carrito' in reserva.estado%}
              -
              {%else%}
                {%if 'consumido' in reserva.estado and reserva.puntuado == 0%}
                <form method="post" action="{{root}}hotel/recibirPuntuacion">
                  <input type="hidden" name="id_hotel" value="{{reserva.id_hotel}}">
                  <input type="hidden" name="id_reserva_habitacion" value="{{reserva.id_reserva_habitacion}}">
                  <div class="form-inline">
                    <label>Puntuar con:</label>
                  <select class="form-control" id="puntaje" name="puntaje">
                    <option value="1">1 pto.</option>
                    {% for i in 2..5 %}
                      <option value="{{i}}">{{i}} ptos.</option>
                    {%endfor%}
                  </select>
                  
                  
                  <button type="submit" class="btn btn-success">Puntuar hotel {{reserva.nombre}}</button>
                </div>
                </form>
                    
                {%endif%}

                {%if 'esperando consumir' in reserva.estado%}

                  {%set precio =reserva.precio_abonado%}
                  {% set difference = date("now"|date("m/d/Y", "America/Argentina/Buenos_Aires")).diff(date(reserva.desde)) %}
                  {% set leftDays = difference.d %}
                  {% set leftMonths = difference.m %}
                  
                  {%set cuantoDevuelvo = 
                    ((leftDays*config.factor_devolucion_por_dia)/100)*precio %}
                  
                  <a onclick="javascript:return confirm('Te vamos a devolver ${%if cuantoDevuelvo > precio or leftMonths > 0%}{{precio}} (el total de tu reserva){%else%}{{cuantoDevuelvo}}{%endif%} luego de cancelar tu reserva.\n Si usaste puntos para comprar este servicio no se devolverán.\n ¿Deseas continuar con la cancelacion?');" href="{{root}}usuario/cancelarReservaHabitacion?id_reserva_habitacion={{reserva.id_reserva_habitacion}}">Cancelar</a>
                {%endif%}
              {%endif%}</td>
            </tr>
          {%endfor%}
          </tbody>

         
        </table>
      </li>

     
      
  </ul> 
  <script type="text/javascript">
  $(document).ready( function () {
    $('#myTable1').DataTable();
} );
  $(document).ready( function () {
    $('#myTable2').DataTable();
} );
  $(document).ready( function () {
    $('#myTable3').DataTable();
} );
</script>
{% endblock %}
