{% extends "/layout/default/template.html.twig" %}
{% block contenido %}
	
	
 	<div class="row">
    	<div class="container">
    		{%if nombre_de_usuario%}
    		<h4 class="text-primary text-center">Hola {{nombre_de_usuario}}, ya podés comenzar a organizar tu próximo viaje!</h4>
    		{%endif%}
		  <div class="row">
	            <div class="col-sm">
	                <div class="card mb-3">
	                    <div class="card-header"><h3 class="text-center"><i class="fas fa-plane"></i> Búsqueda de Vuelos</h3></div>
	                    <form class="m-2" method="post" action="vuelo/buscarVuelo">
							<div class="form-">
							    <label for="origen">Origen</label>
							    <select class="form-control" id="origen" name="origen">
			                        {%for ciudad in ciudades%}
									<option value="{{ciudad.id_ciudad}}">{{ciudad.ciudad}}</option>
									{% endfor %}                
								</select>
							</div>
							<div class="form-">
							    <label for="destino">Destino</label>
							    <select class="form-control" id="destino" name="destino">
			                    	{%for ciudad in ciudades%}
									<option value="{{ciudad.id_ciudad}}">{{ciudad.ciudad}}</option>
									{% endfor %}
			                    </select>
							</div>
							<div class="form-">
							    <label for="fecha">Fecha</label>
							    <input type="date" class="form-control" id="fechaVuelo" name="fechaVuelo" placeholder="Seleccioná una fecha para tu vuelo" onclick="fechaParaAdelante();" required>
							</div>
							<div class="form-">
							    <label for="cantidad">Cantidad</label>
							    <div class="form-group">
								  <select class="form-control" id="cantidad" name="cantidad">
								   {% for i in 1..6 %}
								   	<option value="{{i}}">{{i}}</option>
								   {%endfor%}
								  </select>
			                    </div> 
							</div>
							
							<div class="form-">
							    <label for="cantidadBusiness">Clases</label>
							    <div class="form-group">
								  <select class="form-control" id="clase" name="clase">
                                                                    <option selected="true" disabled="disabled">Elegir una clase</option>
                                                                    <option value="1">Económica</option>
                                                                    <option value="2">Business</option>
                                                                    <option value="3">Primera</option>                                                                   
                                                                  </select>
			                    </div> 
							</div>
							<div class="form- text-center">
							  	<button type="submit" class="btn btn-default" onclick="javascript:return ciudadesDistintasVuelos();"><i class="fas fa-search"></i> Buscar vuelo</button>
							</div>
			                                <br>
                        </form>											
		    		</div>
               	</div>
		    <div class="col-sm">
                <div class="card mb-3">
                    <div class="card-header"><h3 class="text-center"><i class="fas fa-hotel"></i> Búsqueda de Hoteles</h3></div>
			      	<form class="m-2" method="post" action="habitacion/buscarHabitacion">
					  <div class="form-">
					    <label for="ciudadHotel">Ciudad</label>
					    <select class="form-control" id="ciudadHotel" name="ciudadHotel">
						    {%for ciudad in ciudades%}
							<option value="{{ciudad.id_ciudad}}">{{ciudad.ciudad}}</option>
							{% endfor %}
						</select>
					  </div>
					  <div class="form-">
					    <label for="ffechaFin">Fecha de llegada</label>
					    <input type="date" class="form-control" id="fechaInicioHotel" name="fechaInicioHotel" placeholder="Seleccioná una fecha para tu hotel" onclick="fechaParaAdelante();" required>
					  </div>
					   <div class="form-">
					    <label for="fechaInicio">Fecha de salida</label>
					    <input type="date" class="form-control" id="fechaFinHotel" name="fechaFinHotel" placeholder="Seleccioná una fecha para tu hotel" onclick="fechaParaAdelante();" required>
					  </div>
					  <div class="form-">
					    <label for="cantidadPersonasHotel">Cantidad de personas</label>
					     <div class="form-group">
						  <select class="form-control" id="cantidadPersonasHotel" name="cantidadPersonasHotel">
						     {% for i in 1..6 %}
								   	<option value="{{i}}" {%if i==0%} selected{%endif%}>{{i}}</option>
								   {%endfor%}
						  </select>
						</div> 
					  </div>
					  
	                                    <br>
					  <div class="form text-center">
					  	<button type="submit" class="btn btn-default" onclick="javascript:return validarFechasHotel();"><i class="fas fa-search"></i> Buscar habitación</button>
					  </div>
					</form>	
                            <br>
                        </div>
		    </div>
		    <div class="col-sm"><div class="card mb-3">
                            <div class="card-header"><h3 class="text-center"><i class="fas fa-car"></i> Búsqueda de Autos</h3></div>
		      	<form class="m-2" method="post" action="agencia/buscarAuto">
					  <div class="form-">
					    <label for="ciudadOrigenAuto">Ciudad Origen</label>
					    <select class="form-control" id="ciudadOrigenAuto" name="ciudadOrigenAuto">
						    {%for ciudad in ciudades%}
							<option value="{{ciudad.id_ciudad}}">{{ciudad.ciudad}}</option>
							{% endfor %}
						</select>
					  </div>
					  <div class="form-">
					    <label for="ciudadDestinoAuto">Ciudad Destino</label>
					    <select class="form-control" id="ciudadDestinoAuto" name="ciudadDestinoAuto">
						    {%for ciudad in ciudades%}
							<option value="{{ciudad.id_ciudad}}">{{ciudad.ciudad}}</option>
							{% endfor %}
						</select>
					  </div>
					  <div class="form-">
					    <label for="ffechaFin">Fecha de inicio</label>
					    <input type="date" class="form-control" id="fechaInicioAuto" name="fechaInicioAuto" placeholder="Seleccioná una fecha para tu auto" onclick="fechaParaAdelante();" required>
					  </div>
					   <div class="form-">
					    <label for="fechaInicio">Fecha de fin</label>
					    <input type="date" class="form-control" id="fechaFinAuto" name="fechaFinAuto" placeholder="Seleccioná una fecha para tu auto" onclick="fechaParaAdelante();" required>
					  </div>
					  <div class="form-">
					    <label for="cantidadPersonasAuto">Cantidad de personas</label>
					     <div class="form-group">
						  <select class="form-control" id="cantidadPersonasAuto" name="cantidadPersonasAuto">
						     {% for i in 1..8 %}
								   	<option value="{{i}}" {%if i==0%} selected{%endif%}>{{i}}</option>
								   {%endfor%}
						  </select>
						</div> 
					  </div>
					  
	                                    <br>
					  <div class="form text-center">

					  	<button type="submit" class="btn btn-default" onclick="javascript:return validarFechasAuto();"><i class="fas fa-search"></i> Buscar Auto</button>

					  </div>
					</form>		
                            <br>
		    </div>
                    </div>
		</div>
    </div>
          
<script type="text/javascript">




	function validarFechasHotel(){
		if (document.getElementById('fechaInicioHotel').value > document.getElementById('fechaFinHotel').value){
			alert("Se seleccionaron mal las fechas, por favor, reviselas y vuelva a intentarlo");
			return false;
		}
		return true;
	}
	function validarFechasAuto(){
		if (document.getElementById('fechaInicioAuto').value > document.getElementById('fechaFinAuto').value){
			alert("Se seleccionaron mal las fechas, por favor, reviselas y vuelva a intentarlo");
			return false;
		}
		return true;
	}

	function fechaParaAdelante(){
	document.getElementById('fechaVuelo').setAttribute("min", formatDate(new Date()));
		document.getElementById('fechaInicioAuto').setAttribute("min", formatDate(new Date()));
		document.getElementById('fechaFinAuto').setAttribute("min", formatDate(new Date()));
		document.getElementById('fechaInicioHotel').setAttribute("min", formatDate(new Date()));
		document.getElementById('fechaFinHotel').setAttribute("min", formatDate(new Date()));

	}
	function formatDate(date) {
	    var d = new Date(date),
	        month = '' + (d.getMonth() + 1),
	        day = '' + d.getDate(),
	        year = d.getFullYear();

	    if (month.length < 2) month = '0' + month;
	    if (day.length < 2) day = '0' + day;

	    return [year, month, day].join('-');
	}
	function ciudadesDistintasVuelos(){
		if ($('#origen').val() != $('#destino').val())return true;
		alert('El origen y destino a buscar no pueden ser iguales');
		return false;
	}

	function ciudadesDistintasAutos(){
		if ($('#ciudadOrigenAuto').val() != $('#ciudadDestinoAuto').val())return true;
		alert('El origen y destino a buscar no pueden ser iguales');
		return false;
	}

	
</script>

{% endblock %}
         








