{% extends "/layout/default/template.html.twig" %}
{% block contenido %}

{%if datos%}
<p class="text-danger">El nombre de usuario o email ya existen, por favor, verifique los datos y vuelva a intentarlo.</p>
{%endif%}
<div class="card bg-light mt-0 mb-3">
    <div class="card-header">
      <h4><i class="fas fa-plane"></i> Creando nuevo vuelo</h4></div>
    <div class="card-body">
  <span class="card-tex ">
    <form id="createVuelo" method="post" action="{{root}}vuelo/create">
      <div class="form-row">
      	<div class="form-group col-md-4">
      		<label for="origen">Aerolinea</label>
		    <select class="form-control" name="aerolinea" id="aerolinea" required>
	            {%for aerolinea in aerolineas%}
				<option value="{{aerolinea.id_aerolinea}}">{{aerolinea.aerolinea}}</option>
				{% endfor %} 
			</select>    
        </div>
        <div class="form-group col-md-4">
      		<label for="origen">Origen</label>
		    <select class="form-control" name="origen" id="origen" required>
	            {%for ciudad in ciudades%}
				<option value="{{ciudad.id_ciudad}}">{{ciudad.ciudad}}</option>
				{% endfor %} 
			</select>    
        </div>
        <div class="form-group col-md-4">
      		<label for="origen">Destino</label>
		    <select class="form-control" name="destino" id="destino" required>
	            {%for ciudad in ciudades%}
				<option value="{{ciudad.id_ciudad}}">{{ciudad.ciudad}}</option>
				{% endfor %} 
			</select>    
        </div>
        <div class="form-group col-md-3">
		    <label for="fechaSalida">Fecha de salida</label>
		    <input type="date" class="form-control" name="fechaSalida" id="fechaSalida" onclick="fechaParaAdelante();" required>
		</div>
		<div class="form-group col-md-3">
			<label for="horaSalida">Hora de salida</label>
		    <input type="text" class="form-control" name="horaSalida" id="horaSalida" placeholder="HH:MM"  maxlength="5" pattern="([0-1][0-9]|2[0-3]):[0-5][0-9]" required>
		</div>
		<div class="form-group col-md-3">
		    <label for="fechaLlegada">Fecha de llegada</label>
		    <input type="date" class="form-control" name="fechaLlegada" id="fechaLlegada" onclick="fechaParaAdelante();" required>
		</div>
		 <div class="form-group col-md-3">
		 	<label for="horaLlegada">Hora de Llegada</label>
      		<input type="text" class="form-control" id="horaLlegada" name="horaLlegada" placeholder="HH:MM" maxlength="5" pattern="([0-1][0-9]|2[0-3]):[0-5][0-9]" required>
        </div>
       	 <div class="form-group col-md-3">
		    <label for="fechaUltimoVuelo">Fecha del ultimo vuelo a cargar</label>
		    <input type="date" class="form-control" name="fechaUltimoVuelo" id="fechaUltimoVuelo" onclick="fechaParaAdelante();" required>
		</div>
        <div class="form-group col-md-2">
		 	<label for="cantEconomica">Cantidad Económica</label>
      		<input type="number" class="form-control" id="cantEconomica" name="cantEconomica" required>
        </div>
        <div class="form-group col-md-2">
		 	<label for="cantPrimera">Cantidad Primera</label>
      		<input type="number" class="form-control" id="cantPrimera" name="cantPrimera" required>
        </div>
        <div class="form-group col-md-2">
		 	<label for="cantBusiness">Cantidad Business</label>
      		<input type="number" class="form-control" id="cantBusiness" name="cantBusiness" required>
        </div>
         <div class="form-group col-md-3">
		 	<label for="precio">Precio</label>
      		<input type="text" class="form-control" id="precio" name="precio" required>
        </div>
       
      <button type="submit" class="btn btn-success" onclick="return validarFechas();">Guardar</button>
      <button type="button" class="btn btn-danger" onclick="javascript:window.history.back();">Cancelar</button>
    
    </form>
       </span>
    </div>

    {%if resultado%}
    	<p class="text-success">La información ingresada se cargó con éxito</p>
    {%endif%}
  </div>
 


<script type="text/javascript">
  function fechaParaAdelante(){
  document.getElementById('fechaSalida').setAttribute("min", formatDate(new Date()));
  document.getElementById('fechaLlegada').setAttribute("min", formatDate(new Date()));
  document.getElementById('fechaUltimoVuelo').setAttribute("min", formatDate(new Date()));
  }
  function formatDate(date) {
      var d = new Date(date),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();

      if (month.length < 2) month = '0' + month;
      if (day.length < 2) day = '0' + day;

      return [year, month, day].join('-');
  }

  function validarFechas(){
    var result =  ((document.getElementById('fechaSalida').value <= document.getElementById('fechaLlegada').value) && (document.getElementById('fechaSalida').value <= document.getElementById('fechaUltimoVuelo').value) && (document.getElementById('origen').value !== document.getElementById('destino').value));
    if (!result){
      alert('Hubo un error, verifique las ciudades y fechas ingresadas');
    }
    return result;
  }
</script>
  
{% endblock %}
