{% extends "/layout/default/template.html.twig" %}
{% block contenido %}


    <div id="test-list">

        {%if segundo_filtrado_activo == 1%}
            <form action="segundoFiltrado" method="post">
            

                    <div class="row">
                        <div class="col-md-3">
                            <strong>Filtrar por clase</strong>
                            <p>
                                <select class="form-control" id="clase" name="clase">
                                    {%if clase == null %}
                                        <option selected="true" disabled="disabled">Elegir una clase</option>
                                        <option value="1">Económica</option>
                                        <option value="2">Business</option>
                                        <option value="3">Primera</option> 
                                    {%else%}
                                        <option value="">{%if clase == 1%}Económica{%endif%}
                                            {%if clase == 2%}Business{%endif%}
                                            {%if clase == 3%}Primera{%endif%}
                                        </option> 

                                    {%endif%}
                                </select>
                            </p>
                        </div>
                        <div class="col-md-3"><strong>Filtrar por aerolinea</strong>
                            <select class="form-control" id="aerolinea" name="aerolinea">
                                <option selected="true" disabled="disabled">Elegir una aerolinea</option>

                                {% set newArray = [] %}

                                {% for vuelo in vuelos %}
                                    {% if vuelo.aerolinea not in newArray %}

                                        {% set newArray = newArray|merge([vuelo.aerolinea]) %}
                                    {% endif %}

                                {% endfor %}
                                {%for aerolinea in newArray%}
                                    <option value="{{aerolinea}}">{{aerolinea}}</option>                         
                                {% endfor %} 
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-info">filtrar</button>
                        </div>
                    </div>
            
        </form>
        {%else%}
        <form action="quitarFiltrado" method="post">
            <div class="col-md-3">
                <p>
                <button type="submit"class="btn btn-info">Quitar filtrado</button>
            </div>
        </form>
        {%endif%}

        <br>
            <ul class="list-group list">

        
                



                {% for vuelo in vuelos %}
                <li class="list-group-item">
                    <p class="text-warning text-center">Vuelo directo</p>
                    <div class="row">

                        <div class="col"><strong>Desde:</strong><p>{{vuelo.origenCiudad}}, {{vuelo.origenProvincia}}, {{vuelo.origenPais}}</p></div>
                        <div class="col"><strong>Hasta:</strong><p>{{vuelo.destinoCiudad}}, {{vuelo.destinoProvincia}}, {{vuelo.destinoPais}}</p></div>
                        <div class="col"><strong>Duración:</strong>
                            <p>
                                {# endDate and startDate are strings or DateTime objects #}
                                {% set difference = date(vuelo.llegada).diff(date(vuelo.salida)) %}
                                {% set leftDays = difference.d %}
                                {% set leftHours = difference.h %}
                                {% set leftMinutes = difference.i %}

                                {%if leftDays != 0%}{{leftDays}} dias, {%endif%}
                                {%if leftHours != 0%} {{leftHours}} horas, {%endif%}
                                {%if leftMinutes != 0%} {{leftMinutes}} minutos  {%endif%}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><strong>Salida:</strong><p>{{vuelo.salida}}</p></div>
                        <div class="col"><strong>Llegada:</strong><p>{{vuelo.llegada}}</p></div>
                        <div class="col"><strong>Aerolinea:</strong><p>{{vuelo.aerolinea}}</p></div>                         
                    </div>

                    {%if((vuelo.capacidad_economica >= cantidad)and((clase == 1)or(clase == null)))%}
                        <div class="row">
                            <div class="col"><strong>Clase Económica:</strong><p>{{cantidad}} {%if(cantidad>1)%}pasajes{%endif%}
                                    {%if(cantidad==1)%} pasaje{%endif%}</p></div>
                            <div class="col"><strong>Precio:</strong><p>${{vuelo.precio * cantidad}}</p></div>
                            <form method="post" action="{{root}}vuelo/agregarCarrito">
                                <input type="hidden" name="id_vuelo" value="{{vuelo.id_vuelo}}">
                                <input type="hidden" name="precio_abonado" value="{{vuelo.precio * cantidad}}">
                                <input type="hidden" name="cantidadad_primera" value="0">
                                <input type="hidden" name="cantidad_economica" value="{{cantidad}}">
                                <input type="hidden" name="cantidad_business" value="0">
                                <input type="hidden" name="id_usuario" value="{{id_usuario}}">
                                {%if cliente%}

                                    <button type="submit" class="btn btn-lg btn-warning"> <i class="fas fa-shopping-cart"></i> Agregar al carrito</button>{%endif%}
                                </form>
                            </div>
                        {%endif%}


                        {%if((vuelo.capacidad_business >= cantidad)and((clase == 2)or(clase == null)))%}
                            <div class="row">
                                <div class="col"><strong>Clase Business:</strong><p>{{cantidad}} {%if(cantidad>1)%}pasajes{%endif%}
                                        {%if(cantidad==1)%} pasaje{%endif%}</p></div>
                                <div class="col"><strong>Precio:</strong><p>${{(vuelo.precio + (vuelo.precio * config.factor_business * 0.01)) 
                                * cantidad}}</p></div>
                                <form method="post" action="{{root}}vuelo/agregarCarrito">
                                    <input type="hidden" name="id_vuelo" value="{{vuelo.id_vuelo}}">
                                    <input type="hidden" name="precio_abonado" value="{{(vuelo.precio + (vuelo.precio * config.factor_business * 0.01)) * cantidad}}">
                                    <input type="hidden" name="cantidadad_primera" value="0">
                                    <input type="hidden" name="cantidad_economica" value="0">
                                    <input type="hidden" name="cantidad_business" value="{{cantidad}}">
                                    <input type="hidden" name="id_usuario" value="{{id_usuario}}">
                                    {%if cliente%}
                                        <button type="submit" class="btn btn-lg btn-warning"> <i class="fas fa-shopping-cart"></i> Agregar al carrito</button>{%endif%}
                                    </form>
                                </div>
                            {%endif%}


                            {%if((vuelo.capacidad_primera >= cantidad)and((clase == 3)or(clase == null)))%}
                                <div class="row">
                                    <div class="col"><strong>Clase Primera:</strong><p>{{cantidad}} {%if(cantidad>1)%}pasajes{%endif%}
                                            {%if(cantidad==1)%} pasaje{%endif%}</p></div>
                                    <div class="col"><strong>Precio:</strong><p>${{(vuelo.precio + (vuelo.precio * config.factor_primera * 0.01)) 
                                * cantidad}}</p></div>
                                    <form method="post" action="{{root}}vuelo/agregarCarrito">
                                        <input type="hidden" name="id_vuelo" value="{{vuelo.id_vuelo}}">
                                        <input type="hidden" name="precio_abonado" value="{{(vuelo.precio + (vuelo.precio * config.factor_primera * 0.01)) * cantidad}}">
                                        <input type="hidden" name="cantidadad_primera" value="{{cantidad}}">
                                        <input type="hidden" name="cantidad_economica" value="0">
                                        <input type="hidden" name="cantidad_business" value="0">
                                        <input type="hidden" name="id_usuario" value="{{id_usuario}}">
                                        {%if cliente%}
                                            <button type="submit" class="btn btn-lg btn-warning"> <i class="fas fa-shopping-cart"></i> Agregar al carrito</button>{%endif%}
                                        </form>
                                    </div>
                                {%endif%}



                            </li>
                            {% endfor %}




                                












                                
                                    

                                        {% set incremental = 1 %}
                                        {% set descuento = (1-(config.factor_descuento_escala/100)) %}

                                        {%set loopNro = 0 %}
                                        {% for t1 in tramoUno %}
                                            {%set loopNro = loopNro+2 %}
                                            {% for t2 in tramoDos %}
                                                {% set difference = date(t2.salida).diff(date(t1.llegada)) %}
                                                {% set horasGap = difference.h %}
                                                {% set minutosGap = difference.i %}
                                                {%if ((t2.origenCiudad == t1.destinoCiudad) and (t2.salida > t1.llegada) and ((horasGap < config.max_gap) or (horasGap == config.max_gap and minutosGap == 0))	and (difference.d == 0))%}





                                                    {# endDate and startDate are strings or DateTime objects #}
                                                    {% set difference = date(t1.llegada).diff(date(t2.salida)) %}
                                                    {% set leftDays = difference.d %}
                                                    {% set leftHours = difference.h %}
                                                    {% set leftMinutes = difference.i %}


                                                {%set precioTotalEconomica=0%}
                                                {%set precioTotalPrimera=0%}
                                                {%set precioTotalBusiness=0%}
                                                <li class="list-group-item">
                                                    <p class="text-right">{%if leftDays != 0%}{{leftDays}} dias, {%endif%}
                                                        {%if leftHours != 0%} {{leftHours}} horas, {%endif%}
                                                        {%if leftMinutes != 0%} {{leftMinutes}} minutos  {%endif%} de espera en el aeropuerto de {{t2.origenCiudad}}</p>
                                                    <p class="text-warning text-center">Vuelo con escala</p>
                                                    <p class="text-primary">Tramo 1</p>
                                                    <div class="row">
                                                        <div class="col"><strong>Desde:</strong><p>{{t1.origenCiudad}}, {{t1.origenProvincia}}, {{t1.origenPais}}</p></div>
                                                        <div class="col"><strong>Hasta:</strong><p>{{t1.destinoCiudad}}, {{t1.destinoProvincia}}, {{t1.destinoPais}}</p></div>
                                                        <div class="col"><strong>Duración:</strong>
                                                            <p>
                                                                {# endDate and startDate are strings or DateTime objects #}
                                                                {% set difference = date(t1.llegada).diff(date(t1.salida)) %}
                                                                {% set leftDays = difference.d %}
                                                                {% set leftHours = difference.h %}
                                                                {% set leftMinutes = difference.i %}

                                                                {%if leftDays != 0%}{{leftDays}} dias, {%endif%}
                                                                {%if leftHours != 0%} {{leftHours}} horas, {%endif%}
                                                                {%if leftMinutes != 0%} {{leftMinutes}} minutos  {%endif%}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col"><strong>Salida:</strong><p>{{t1.salida}}</p></div>
                                                        <div class="col"><strong>Llegada:</strong><p>{{t1.llegada}}</p></div>
                                                        <div class="col"><strong>Aerolinea:</strong><p>{{t1.aerolinea}}</p></div>                         
                                                    </div>

                                                    {%if((t1.capacidad_economica >= cantidad)and(t2.capacidad_economica >= cantidad)and((clase == 1)or(clase == null)))%}
                                                        {%set precioTotalEconomica=precioTotalEconomica+(t1.precio * cantidad * (config.factor_descuento_escala/100))%}
                                                        <div class="row">
                                                            <div class="col"><strong>Clase Económica:</strong><p>{{cantidad}} {%if(cantidad>1)%}pasajes{%endif%}
                                                                    {%if(cantidad==1)%} pasaje{%endif%}</p></div>
                                                            <div class="col"><strong>Precio:</strong><p>${{t1.precio * cantidad * (config.factor_descuento_escala/100)}}</p></div>
                                                            <form id="tramo1-nro{{incremental}}-economica-{{loopNro}}" name="tramo1" method="post" action="">
                                                                <input type="hidden" name="id_vuelo" value="{{t1.id_vuelo}}">
                                                                <input type="hidden" name="precio_abonado" value="{{t1.precio * cantidad  * (config.factor_descuento_escala/100)}}">
                                                                <input type="hidden" name="cantidadad_primera" value="0">
                                                                <input type="hidden" name="cantidad_economica" value="{{cantidad}}">
                                                                <input type="hidden" name="cantidad_business" value="0">
                                                                <input type="hidden" name="id_usuario" value="{{id_usuario}}">

                                                            </form>
                                                            {%if cliente%}

                                                                <button id="nro{{incremental}}-economica-{{loopNro}}" onclick="cargarEscalas('nro{{incremental}}-economica-{{loopNro}}');" class="btn btn-lg btn-warning float-right"> <i class="fas fa-shopping-cart"></i> Agregar c/ escala económica</button>{%endif%}
                                                            </div>



                                                        {%endif%}


                                                        {%if((t1.capacidad_business >= cantidad)and(t2.capacidad_business >= cantidad)and((clase == 2)or(clase == null)))%}
                                                        {%set precioTotalBusiness=precioTotalBusiness+((t1.precio + (t1.precio * config.factor_business * 0.01)) 
                                        * cantidad * descuento)%}
                                                            <div class="row">
                                                                <div class="col"><strong>Clase Business:</strong><p>{{cantidad}} {%if(cantidad>1)%}pasajes{%endif%}
                                                                        {%if(cantidad==1)%} pasaje{%endif%}</p></div>
                                                                <div class="col"><strong>Precio:</strong><p>${{(t1.precio + (t1.precio * config.factor_business * 0.01)) 
		                                * cantidad * descuento}}</p></div>
                                                                <form id="tramo1-nro{{incremental}}-business-{{loopNro}}" name="tramo1" method="post" action="">
                                                                    <input type="hidden" name="id_vuelo" value="{{t1.id_vuelo}}">
                                                                    <input type="hidden" name="precio_abonado" value="{{(t1.precio + (t1.precio * config.factor_business * 0.01)) 
		                                * cantidad * descuento}}">
                                                                    <input type="hidden" name="cantidadad_primera" value="0">
                                                                    <input type="hidden" name="cantidad_economica" value="0">
                                                                    <input type="hidden" name="cantidad_business" value="{{cantidad}}">
                                                                    <input type="hidden" name="id_usuario" value="{{id_usuario}}">

                                                                </form>
                                                                {%if cliente%}
                                                                    <button id="nro{{incremental}}-business-{{loopNro}}" onclick="cargarEscalas('nro{{incremental}}-business-{{loopNro}}');" class="btn btn-lg btn-warning"> <i class="fas fa-shopping-cart"></i> Agregar c/ escala business</button>{%endif%}
                                                                </div>


                                                            {%endif%}


                                                            {%if((t1.capacidad_primera >= cantidad)and(t2.capacidad_primera >= cantidad)and((clase == 3)or(clase == null)))%}
                                                            {%set precioTotalPrimera=precioTotalPrimera+((t1.precio + (t1.precio * config.factor_primera * 0.01)) 
                                        * cantidad * descuento)%}
                                                                <div class="row">
                                                                    <div class="col"><strong>Clase Primera:</strong><p>{{cantidad}} {%if(cantidad>1)%}pasajes{%endif%}
                                                                            {%if(cantidad==1)%} pasaje{%endif%}</p></div>
                                                                    <div class="col"><strong>Precio:</strong><p>${{(t1.precio + (t1.precio * config.factor_primera * 0.01)) 
		                                * cantidad * descuento}}</p></div>
                                                                    <form id="tramo1-nro{{incremental}}-primera-{{loopNro}}" name="tramo1" method="post" action="">
                                                                        <input type="hidden" name="id_vuelo" value="{{t1.id_vuelo}}">
                                                                        <input type="hidden" name="precio_abonado" value="{{(t1.precio + (t1.precio * config.factor_primera * 0.01)) 
		                                * cantidad * descuento}}">
                                                                        <input type="hidden" name="cantidadad_primera" value="{{cantidad}}">
                                                                        <input type="hidden" name="cantidad_economica" value="0">
                                                                        <input type="hidden" name="cantidad_business" value="0">
                                                                        <input type="hidden" name="id_usuario" value="{{id_usuario}}">

                                                                    </form>
                                                                    {%if cliente%}
                                                                        <button id="nro{{incremental}}-primera-{{loopNro}}" onclick="cargarEscalas('nro{{incremental}}-primera-{{loopNro}}');" class="btn btn-lg btn-warning"> <i class="fas fa-shopping-cart"></i> Agregar c/ escala primera</button>{%endif%}
                                                                    </div>



                                                                {%endif%}




                                                                <p class="text-primary">Tramo 2</p>
                                                                <div class="row">
                                                                    <div class="col"><strong>Desde:</strong><p>{{t2.origenCiudad}}, {{t2.origenProvincia}}, {{t2.origenPais}}</p></div>
                                                                    <div class="col"><strong>Hasta:</strong><p>{{t2.destinoCiudad}}, {{t2.destinoProvincia}}, {{t2.destinoPais}}</p></div>
                                                                    <div class="col"><strong>Duración:</strong>
                                                                        <p>
                                                                            {# endDate and startDate are strings or DateTime objects #}
                                                                            {% set difference = date(t2.llegada).diff(date(t2.salida)) %}
                                                                            {% set leftDays = difference.d %}
                                                                            {% set leftHours = difference.h %}
                                                                            {% set leftMinutes = difference.i %}

                                                                            {%if leftDays != 0%}{{leftDays}} dias, {%endif%}
                                                                            {%if leftHours != 0%} {{leftHours}} horas, {%endif%}
                                                                            {%if leftMinutes != 0%} {{leftMinutes}} minutos  {%endif%}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col"><strong>Salida:</strong><p>{{t2.salida}}</p></div>
                                                                    <div class="col"><strong>Llegada:</strong><p>{{t2.llegada}}</p></div>
                                                                    <div class="col"><strong>Aerolinea:</strong><p>{{t2.aerolinea}}</p></div>                         
                                                                </div>


                                                                {%if((t2.capacidad_economica >= cantidad)and(t1.capacidad_economica >= cantidad)and((clase == 1)or(clase == null)))%}
                                                                {%set precioTotalEconomica=precioTotalEconomica+(t2.precio * cantidad  * (config.factor_descuento_escala/100))%}
                                                                    <div class="row">
                                                                        <div class="col"><strong>Clase Económica:</strong><p>{{cantidad}} {%if(cantidad>1)%}pasajes{%endif%}
                                                                                {%if(cantidad==1)%} pasaje{%endif%}</p></div>
                                                                        <div class="col"><strong>Precio:</strong><p>${{t2.precio * cantidad  * (config.factor_descuento_escala/100)}}</p></div>
                                                                        <form id="tramo2-nro{{incremental}}-economica-{{loopNro}}" name="tramo2" method="post" action="">
                                                                            <input type="hidden" name="id_vuelo" value="{{t2.id_vuelo}}">
                                                                            <input type="hidden" name="precio_abonado" value="{{t2.precio * cantidad  * (config.factor_descuento_escala/100)}}">
                                                                            <input type="hidden" name="cantidadad_primera" value="0">
                                                                            <input type="hidden" name="cantidad_economica" value="{{cantidad}}">
                                                                            <input type="hidden" name="cantidad_business" value="0">
                                                                            <input type="hidden" name="id_usuario" value="{{id_usuario}}">

                                                                        </form>
                                                                    </div>
                                                                {%endif%}


                                                                {%if((t2.capacidad_business >= cantidad)and(t1.capacidad_business >= cantidad)and((clase == 2)or(clase == null)))%}
                                                                {%set precioTotalBusiness=precioTotalBusiness+((t2.precio + (t2.precio * config.factor_business * 0.01)) 
                                        * cantidad * descuento)%}
                                                                    <div class="row">
                                                                        <div class="col"><strong>Clase Business:</strong><p>{{cantidad}} {%if(cantidad>1)%}pasajes{%endif%}
                                                                                {%if(cantidad==1)%} pasaje{%endif%}</p></div>
                                                                        <div class="col"><strong>Precio:</strong><p>${{(t2.precio + (t2.precio * config.factor_business * 0.01)) 
		                                * cantidad * descuento}}</p></div>
                                                                        <form id="tramo2-nro{{incremental}}-business-{{loopNro}}" name="tramo2" method="post" action="">
                                                                            <input type="hidden" name="id_vuelo" value="{{t2.id_vuelo}}">
                                                                            <input type="hidden" name="precio_abonado" value="{{(t2.precio + (t2.precio * config.factor_business * 0.01)) 
		                                * cantidad * descuento}}">
                                                                            <input type="hidden" name="cantidadad_primera" value="0">
                                                                            <input type="hidden" name="cantidad_economica" value="0">
                                                                            <input type="hidden" name="cantidad_business" value="{{cantidad}}">
                                                                            <input type="hidden" name="id_usuario" value="{{id_usuario}}">

                                                                        </form>
                                                                    </div>
                                                                {%endif%}


                                                                {%if((t2.capacidad_primera >= cantidad)and (t1.capacidad_primera >= cantidad)and((clase == 3)or(clase == null)))%}
                                                                {%set precioTotalPrimera=precioTotalPrimera+((t2.precio + (t2.precio * config.factor_primera * 0.01)) 
                                        * cantidad * descuento)%}
                                                                    <div class="row">
                                                                        <div class="col"><strong>Clase Primera:</strong><p>{{cantidad}} {%if(cantidad>1)%}pasajes{%endif%}
                                                                                {%if(cantidad==1)%} pasaje{%endif%}</p></div>
                                                                        <div class="col"><strong>Precio:</strong><p>${{(t2.precio + (t2.precio * config.factor_primera * 0.01)) 
		                                * cantidad * descuento}}</p></div>
                                                                        <form id="tramo2-nro{{incremental}}-primera-{{loopNro}}" name="tramo2" method="post" action="">
                                                                            <input type="hidden" name="id_vuelo" value="{{t2.id_vuelo}}">
                                                                            <input type="hidden" name="precio_abonado" value="{{(t2.precio + (t2.precio * config.factor_primera * 0.01)) 
		                                * cantidad * descuento}}">
                                                                            <input type="hidden" name="cantidadad_primera" value="{{cantidad}}">
                                                                            <input type="hidden" name="cantidad_economica" value="0">
                                                                            <input type="hidden" name="cantidad_business" value="0">
                                                                            <input type="hidden" name="id_usuario" value="{{id_usuario}}">

                                                                        </form>
                                                                    </div>



                                                            {%endif%}
                                                            {%if precioTotalEconomica > 0%}

                                                            <h4>Precio Total Economica:${{precioTotalEconomica}}</h4>
                                                            {%endif%}
                                                             {%if precioTotalPrimera > 0%}
                                                            <h4>Precio Total Primera:${{precioTotalPrimera}}</h4>
                                                            {%endif%}
                                                             {%if precioTotalBusiness > 0%}
                                                            <h4>Precio Total Business:${{precioTotalBusiness}}</h4>
                                                            {%endif%}





                                                            {% set incremental = incremental+1 %}
                                                        {% endif %}
                                                        {% endfor %}</li>
                                                            {% endfor %}</ul> <ul class="pagination"></ul></div>
                                                </div>




                                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>  
                                                <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
                                                <script>
                                                                            var monkeyList = new List('test-list', {
                                                                                valueNames: ['name'],
                                                                                page:  {{config.items_por_pagina}},
                                                                                pagination: true
                                                                            });

                                                </script>
                                                <script>

                                                    function submitForm1(nameOfForm) {
                                                        return $.ajax({
                                                            type: "POST",
                                                            url: '{{root}}vuelo/agregarCarrito',
                                                            data: $('#tramo1-' + nameOfForm).serialize(),
                                                        });
                                                    }
                                                    ;


                                                    function submitForm2(nameOfForm) {
                                                        return $.ajax({
                                                            type: "POST",
                                                            url: '{{root}}vuelo/agregarCarrito',
                                                            data: $('#tramo2-' + nameOfForm).serialize(),
                                                        });
                                                    }
                                                    ;




                                                    function cargarEscalas(nameOfForm) {

                                                        submitForm1(nameOfForm);
                                                        submitForm2(nameOfForm);

                                                    }
                                                    ;



                                                </script>

                                                {% endblock %}

