{% extends "/layout/default/template.html.twig" %}
{% block contenido %}

  <div id="test-list">
      {%if segundo_filtrado_activo == 1%}
            <form action="segundoFiltrado" method="post">
            

                    <div class="row">
                        <div class="col-md-3"><strong>Filtrar por estrellas</strong>
                            <select class="form-control" id="cant_estrellas" name="cant_estrellas">
                                <option selected="true" disabled="disabled">Elegir cantidad de estrellas</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <strong>Filtrar por hotel</strong>
                            <p>
                                <select class="form-control" id="hotel" name="hotel">
                                    
                                        <option selected="true" disabled="disabled">Elegir un hotel</option>
                                        {% set newArray = [] %}

                                        {% for habitacion in habitaciones %}
                                        {% if habitacion.nombre not in newArray %}
                                            {% set newArray = newArray|merge([habitacion.nombre]) %}
                                        {% endif %}

                                        {% endfor %}
                                        {%for hotel in newArray%}
                                            <option value="{{hotel}}">{{hotel}}</option>                         
                                        {% endfor %}
                                
                      
                                </select>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <strong>Filtrar por servicio</strong>
                            <p>
                                <select class="form-control" id="servicio" name="servicio">
                                    
                                        <option selected="true" disabled="disabled">Elegir un servicio</option>
                                        {% set newArray = [] %}

                                        {% for habitacion in habitaciones %}
                                            {% for servicio in serviciosDeHotel[habitacion.id_hotel] %}
                                                {% if servicio.tipo not in newArray %}
                                                    {% set newArray = newArray|merge([servicio.tipo]) %}
                                                {% endif %} 
                                            {%endfor%}
                                        

                                        {% endfor %}
                                        {%for servicio in newArray%}
                                            <option value="{{servicio}}">{{servicio}}</option>                         
                                        {% endfor %}
                                
                      
                                </select>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-info">filtrar</button>
                        </div>
                    </div>
            
        </form>
        {%else%}
            <form action="quitarFiltrado" method="post">
                <div class="col-md-3">
                    <p>
                    <button type="submit"class="btn btn-info">Quitar filtrado</button>
                </div>
            </form>
        {%endif%}
	 <ul class="list-group list">
	 	{% for habitacion in habitaciones %}
		  <li class="list-group-item">
		  	<div class="row">
			  <div class="col-md-3"><strong>Ciudad:</strong><p>{{habitacion.ciudad}}</p></div>
                          <div class="col-md-3"><strong>Hotel:</strong><p>{{habitacion.nombre}}</p></div>   
                          <div class="col-md-3"><strong>Estrellas:</strong><p>{{habitacion.estrellas}}</p></div>   
                          {% if habitacion.veces_puntuado != 0 %}
                          <div class="col"><strong>Puntos Promedio:</strong><p>{{(habitacion.puntos/habitacion.veces_puntuado) | round}}</p></div> 
                          {%else%}
                          No recibió puntuaciones
                          {%endif%}
                        </div>
		  	<div class="row">
			  <div class="col-md-3"><strong>Desde: </strong><p>{{fechaDesde}}</p></div>
			  <div class="col-md-3"><strong>Hasta:</strong><p>{{fechaHasta}}</p></div>  
                          <div class="col-md-3"><strong>Cantidad de personas:</strong><p>{{cantidad}}</p></div>
                          <div class="col-md-3"></div>
			</div>
                        <div class="row">
                            <div class="col"><strong>Servicios:</strong><p>

                            	


                            {% for servicio in serviciosDeHotel[habitacion.id_hotel] %}
                            	 {{ servicio.tipo }}. 
                            {%endfor%}



                            </p></div> 
                            <div class="col"><strong>Precio:</strong><p>${{habitacion.precio_por_persona *
                                cantidadDias * habitacion.capacidad}}</p></div>
                            <form method="post" action="{{root}}habitacion/agregarCarrito">
			  	<input type="hidden" name="fecha_desde" value="{{fechaDesde}}">
			  	<input type="hidden" name="id_habitacion" value="{{habitacion.id_habitacion}}">
			  	<input type="hidden" name="fecha_hasta" value="{{fechaHasta}}">
			  	<input type="hidden" name="precio_persona" value="{{habitacion.precio_por_persona * cantidadDias * habitacion.capacidad}}">
			  	<input type="hidden" name="id_usuario" value="{{id_usuario}}">
			  	<input type="hidden" name="cantidad" value="{{cantidad}}">
			  	{%if cliente%}
			  	
			  	<button type="submit" class="btn btn-lg btn-warning"> <i class="fas fa-shopping-cart"></i> Agregar al carrito</button>{%endif%}
                            </form>
                          </div>                        			
		  </li>
	  	{% endfor %}
	</ul> 	
	<ul class="pagination"></ul>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>  
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
	<script>
		var monkeyList = new List('test-list', {
  valueNames: ['name'],
  page: {{config.items_por_pagina}},
  pagination: true
});
	</script>
{% endblock %}

