<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ReservasYa</title>

    <!-- Bootstrap core CSS-->
    <link href="{{root}}libs/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{{root}}libs/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{{root}}libs/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{root}}libs/css/sb-admin.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

  </head>

  <body id="page-top">

   {% block header %}
      
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="{{root}}">Reservas Ya!</a>
      <!-- Navbar Search -->


      <!-- Navbar -->
      <ul class="navbar-nav ml-auto d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <li class="nav-item dropdown no-arrow">

          
            {% if nombre_de_usuario%}
            <a class="nav-link dropdown-toggle" href="{{root}}usuario/logout" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cerrar Sesion
            <i class="fas fa-sign-out-alt"></i>
            {%else%}
              <a class="nav-link dropdown-toggle" href="{{root}}usuario/login" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Iniciar sesión
                <i class="fas fa-sign-in-alt"></i>
            {%endif%}
            
          </a>
        </li>
      </ul>

    </nav>
       
 {% endblock %}      

    <div id="wrapper">

        <!-- Barra lateral de menú -->
      <ul class="sidebar navbar-nav">
        <!-- Con esto es suficiente para chequear si estoy logueado -->
        {% if nombre_de_usuario %}
        
            <li class="nav-item active">
              <a class="nav-link" href="{{root}}usuario/perfil/{{nombre_de_usuario}}">
                <i class="fas fa-user"></i>
                <span>Mi perfil</span>
              </a>
            </li>
            {% if cliente %}
               <li class="nav-item active">
                <a class="nav-link" href="{{root}}transacciones">
                  <i class="fas fa-credit-card "></i>
                  <span>Mis Transacciones</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{root}}carrito">
                  <i class="fas fa-shopping-cart"></i>
                  <span>Mi carrito</span>
                </a>
              </li>
            
            {% endif %}

            {% if comercial %}
               <li class="nav-item active">
              <a class="nav-link" href="{{root}}servicio">
                <i class="fas fa-edit"></i>
                <span>Gestionar Entidades</span>
              </a>
            </li>
            {% endif %}


            {% if admin %}
              <li class="nav-item active">
                <a class="nav-link" href="{{root}}usuario/createComercialView">
                  <i class="fas fa-plus-circle"></i>
                  <span>Usuarios Comerciales</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{root}}usuario/resetearContrasenaView">
                  <i class="fas fa-sync"></i>
                  <span>Restablecer contraseñas</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{root}}configuracion">
                  <i class="fas fa-cog"></i>
                  <span>Config. del sistema</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{root}}servicio/limpiarCarrito">
                  <i class="fas fa-broom"></i>
                  <span>Limpiar Carritos</span>
                </a>
              </li>
              
            {% endif %}
        {%else%}
          <li class="nav-item active">
          <a class="nav-link" href="{{root}}usuario/registro">
            <i class="fas fa-user"></i>
            <span>Registrarse</span>
          </a>
          </li>
           <li class="nav-item active">
            <a class="nav-link" href="{{root}}usuario/login">
              <i class="fas fa-user"></i>
              <span>Iniciar Sesion</span>
            </a>
          </li>
          
        {%endif%}
        <li class="nav-item active">
                <a class="nav-link" href="{{root}}test/mostrarOpcionesTesting">
                  <i class="fas fa-test"></i>
                  <span>Testing</span>
                </a>
              </li>
        
        
       

      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">
            
           {% block contenido %}
           {% endblock %}
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Reservas YA! 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

   

  </body>

</html>

