{% extends "/layout/default/template.html.twig" %}
{% block contenido %}
{% set totalCompra = 0 %}
<h2 class="text-center">Mi carrito</h2>
 <ul class="list-group">
      
      

      <li class="list-group-item">
        <h2>Vuelos</h2>
        <table id="myTable1">
          <thead>
          <tr>
            <th>Aerolinea</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Fecha de salida</th>
            <th>Fecha de llegada</th>
            <th>Clase</th>
            <th>Cantidad de pasajeros</th>
            <th>Estado</th>
            <th>Precio total</th>
            <th>Opciones</th>
          </tr>
          </thead>
          <tbody>
          
          

          {%for reserva in reservasVuelos%}
            {% if 'carrito' in reserva.estado%}
              <tr>
                <td>{{reserva.aerolinea}}</td>
                <td>{{reserva.origenCiudad}}</td>
                <td>{{reserva.destinoCiudad}}</td>
                <td>{{reserva.salida}}</td>
                <td>{{reserva.llegada}}</td>
                {% if reserva.cantidad_economica > "0"%}
                  {%set cantidad=reserva.cantidad_economica%}
                  <td>Economica</td> 
                <td>{{reserva.cantidad_economica}} pasajeros</td>
                  }
                {%endif%}
                {% if reserva.cantidadad_primera > "0"%}
                  {%set factor=config.factor_primera%}
                  {%set cantidad=reserva.cantidadad_primera%}
                   <td>Primera</td> 
                <td>{{reserva.cantidadad_primera}} pasajeros</td>
                {%endif%}
                {% if reserva.cantidad_business > "0"%}
                  {%set factor=config.factor_business%}
                  {%set cantidad=reserva.cantidad_business%}
                <td>Business</td> 
                <td>{{reserva.cantidad_business}} pasajeros</td>
                {%endif%}
                <td>{{reserva.estado}}</td>
                <td>${{reserva.precio_abonado}}
                  {%set totalCompra=totalCompra+(reserva.precio_abonado) %}
                <td><a href="{{root}}carrito/quitarReservaVuelo?id_reserva_vuelo={{reserva.id_reserva_vuelo}}&&id_vuelo={{reserva.id_vuelo}}&&cantidad_economica={{reserva.cantidad_economica}}&&cantidad_primera={{reserva.cantidadad_primera}}&&cantidad_business={{reserva.cantidad_business}}">Quitar del carrito</a></
              </tr>
            {%endif%}
          {%endfor%}
             
          </tbody>

         
        </table>
      </li>

      <li class="list-group-item">
        <h2>Autos</h2>
        <table id="myTable2">
          <thead>
          <tr>
            <th>Agencia</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Marca</th>
            <th>Capacidad</th>
            <th>Gama</th>
            <th>Precio total</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
          </thead>
          <tbody>
          
          {%for reserva in reservasAutos%}
          {% if 'carrito' in reserva.estado%}
            {% set difference = date(reserva.hasta).diff(date(reserva.desde)) %}
            <tr>
              <td>{{reserva.nombre}}</td>
              <td>{{reserva.desde|date("d/m/Y")}}</td>


              <td>
              {% if reserva.otroPais == 1 %}
                {{reserva.hasta|date_modify("-1 day")|date("d/m/Y")}}
              {%else%}
                {{reserva.hasta|date("d/m/Y")}}
              {%endif%}
              </td>


              <td>{{reserva.marca}}</td>
              <td>{{reserva.capacidad}} personas</td>
              <td>{{reserva.gama}}</td>
              <td>${{reserva.precio_abonado}}</td>
              {% set totalCompra=totalCompra+(reserva.precio_abonado) %}
              <td>{{reserva.estado}}</td>
              <td><a href="{{root}}carrito/quitarReservaAuto?id_reserva_auto={{reserva.id_reserva_auto}}">Quitar del carrito</a></td>
            </tr>
            {%endif%}
          {%endfor%}
          
          </tbody>         
        </table>
      </li>

      <li class="list-group-item">
        <h2>Habitaciones</h2>
        <table id="myTable3">
          <thead>
          <tr>
            <th>Hotel</th>
            <th>Capacidad de Habitacion</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Precio total</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
          </thead>
          <tbody>
          
          {%for reserva in reservasHabitaciones%}
          {% if 'carrito' in reserva.estado%}
            {% set difference = date(reserva.hasta).diff(date(reserva.desde)) %}
            <tr>
              <td>{{reserva.nombre}}</td>
              <td>{{reserva.capacidad}}</td>
              <td>{{reserva.desde|date("d/m/Y")}}</td>
              <td>{{reserva.hasta|date("d/m/Y")}}</td>
              <td>${{reserva.precio_abonado}}</td>
              {% set totalCompra=totalCompra+(reserva.precio_abonado) %}
              <td>{{reserva.estado}}</td>
              <td><a href="{{root}}carrito/quitarReservaHabitacion?id_reserva_habitacion={{reserva.id_reserva_habitacion}}">Quitar del carrito</a></td>
            </tr>
            {%endif%}
          {%endfor%}
          </tbody>

         
        </table>
      </li>

     {%if totalCompra != 0%}
      <div class="text-center mt-5">
      <h5>Total a abonar: ${{totalCompra}}</h5>  <a class="btn btn-lg btn-warning" href="{{root}}usuario/comprarTodoElCarrito?total_a_abonar={{totalCompra}}"><i class="fas fa-shopping-cart"></i> Finalizar compra</a>
      </div>
      {%endif%}
  </ul> 
    <script type="text/javascript">
  $(document).ready( function () {
    $('#myTable1').DataTable();
} );
  $(document).ready( function () {
    $('#myTable2').DataTable();
} );
  $(document).ready( function () {
    $('#myTable3').DataTable();
} );
</script>
      
  
{% endblock %}
