{% extends "/layout/default/template.html.twig" %}
{% block contenido %}

<div class="card bg-light mt-0 mb-3">
    <div class="card-header">
      <h4><i class="fas fa-plane"></i> Creando nuevo vuelo</h4></div>
    <div class="card-body">
  <span class="card-tex ">
    <form id="createVuelo" method="post" action="{{root}}vuelo/create">
      <div class="form-row">
      	<div class="form-group col-md-4">
      		<label for="origen">Aerolinea</label>
		    <select class="form-control" name="aerolinea" id="aerolinea">
	            {%for aerolinea in aerolineas%}
				<option value="{{aerolinea.id_aerolinea}}">{{aerolinea.aerolinea}}</option>
				{% endfor %} 
			</select>    
        </div>
        <div class="form-group col-md-4">
      		<label for="origen">Origen</label>
		    <select class="form-control" name="origen" id="origen">
	            {%for ciudad in ciudades%}
				<option value="{{ciudad.id_ciudad}}">{{ciudad.ciudad}}</option>
				{% endfor %} 
			</select>    
        </div>
        <div class="form-group col-md-4">
      		<label for="origen">Destino</label>
		    <select class="form-control" name="destino" id="destino">
	            {%for ciudad in ciudades%}
				<option value="{{ciudad.id_ciudad}}">{{ciudad.ciudad}}</option>
				{% endfor %} 
			</select>    
        </div>
        <div class="form-group col-md-3">
		    <label for="fechaSalida">Fecha de salida</label>
		    <input type="date" class="form-control" name="fechaSalida" id="fechaSalida" onclick="fechaParaAdelante();">
		</div>
		<div class="form-group col-md-3">
			<label for="horaSalida">Hora de salida</label>
		    <input type="text" class="form-control" name="horaSalida" id="horaSalida" placeholder="HH:MM">
		</div>
		<div class="form-group col-md-3">
		    <label for="fechaLlegada">Fecha de llegada</label>
		    <input type="date" class="form-control" name="fechaLlegada" id="fechaLlegada"onclick="fechaParaAdelante();">
		</div>
		 <div class="form-group col-md-3">
		 	<label for="horaLlegada">Hora de Llegada</label>
      		<input type="text" class="form-control" id="horaLlegada" name="horaLlegada" placeholder="HH:MM">
        </div>
       	 <div class="form-group col-md-3">
		    <label for="fechaUltimoVuelo">Fecha del ultimo vuelo a cargar</label>
		    <input type="date" class="form-control" name="fechaUltimoVuelo" id="fechaUltimoVuelo" onclick="fechaParaAdelante();">
		</div>
        <div class="form-group col-md-2">
		 	<label for="cantEconomica">Cantidad Económica</label>
      		<input type="number" class="form-control" id="cantEconomica" name="cantEconomica">
        </div>
        <div class="form-group col-md-2">
		 	<label for="cantPrimera">Cantidad Primera</label>
      		<input type="number" class="form-control" id="cantPrimera" name="cantPrimera">
        </div>
        <div class="form-group col-md-2">
		 	<label for="cantBusiness">Cantidad Business</label>
      		<input type="number" class="form-control" id="cantBusiness" name="cantBusiness">
        </div>
         <div class="form-group col-md-3">
		 	<label for="precio">Precio</label>
      		<input type="text" class="form-control" id="precio" name="precio">
        </div>
       
      <button type="submit" class="btn btn-success">Guardar</button>
      <button type="button" class="btn btn-danger" onclick="javascript:window.history.back();">Cancelar</button>
    
    </form>
       </span>
    </div>

    {%if resultado%}
    	<p class="text-success text-center">La información ingresada se cargó con éxito</p>
    {%endif%}
  </div>
    
<script type="text/javascript">
	function fechaParaAdelante(){
		document.getElementById('desdeFecha').setAttribute("min", formatDate(new Date()));
		document.getElementById('hastaFecha').setAttribute("min", formatDate(new Date()));

	}
</script>
{% endblock %}
