{% extends "/layout/default/template.html.twig" %}
{% block contenido %}
<h2 class="text-center">Gestión de entidades</h2>
 <ul class="list-group">
      
      <li class="list-group-item">
        <h2>Vuelos</h2>
        <a href="{{root}}vuelo/createVueloView">Cargar Vuelos</a>
      </li>

       <li class="list-group-item">
        <h2>Agencias</h2>
        <a href="{{root}}agencia/crearAgenciaView">Crear una agencia</a></br>
         
            <form method="post" action="{{root}}agencia/gestionarAgenciaView">
              <div class="form-row">
                <div class="form-inline col-md-4">   
                  <select class="form-control" name="agencia" id="agencia" required>
                    {%for agencia in agencias%}
                      <option value="{{agencia.id_agencia}}-{{agencia.agencia}}">{{agencia.agencia}}</option>
                    {% endfor %} 
                  </select>
                  <button type="submit" class="btn btn-link">Gestionar agencia</button>
                </div>
              </div> 
            </form>   
           
       
      </li>

      <li class="list-group-item">
        <h2>Hoteles</h2>
        <a href="{{root}}hotel/crearHotelView">Crear un hotel</a></br>
        <form method="post" action="{{root}}hotel/gestionarHotelView">
              <div class="form-row">
                <div class="form-inline col-md-4">   
                  <select class="form-control" name="hotel" id="hotel" required>
                    {%for hotel in hoteles%}
                      <option value="{{hotel.id_hotel}}-{{hotel.nombre}}">{{hotel.nombre}}</option>
                    {% endfor %} 
                  </select>
                  <button type="submit" class="btn btn-link">Gestionar hotel</button>
                </div>
              </div> 
            </form> 
        
      </li>
      
  </ul> 
{% endblock %}