{% extends "/layout/default/template.html.twig" %}
{% block contenido %}

<div class="card bg-light mt-0 mb-3">
    <div class="card-header">
      <h4><i class="fas fa-car"></i> Creando nuevo hotel</h4></div>
    <div class="card-body">
  <span class="card-tex ">
    <form id="crearAgencia" method="post" action="{{root}}hotel/crear">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="nombre">Nombre del hotel</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="form-group col-md-2">
            <label for="ciudad">Ciudad</label>
            <select class="form-control" id="ciudad" name="ciudad">
            {%for ciudad in ciudades%}
              <option value="{{ciudad.id_ciudad}}">{{ciudad.ciudad}}</option>
            {% endfor %}                
            </select>
        </div>
        <div class="form-group col-md-2">

          <label for="estrellas">Estrellas</label>
          <select class="form-control" id="estrellas" name="estrellas">
            {% for i in 1..5 %}
              <option value="{{i}}">{{i}}</option>
            {%endfor%}
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="precio">Precio por persona</label>
          <input type="text" class="form-control" id="precio" name="precio" required>
        </div>
        <div class="form-group col-md-2">
            <label for="servicio">Servicios</label>
            <select multiple="multiple" class="form-control" id="servicios" name="servicios[]">
              {%for servicio in servicios%}
                <option value="{{servicio.id_servicio}}">{{servicio.servicio}}</option>
              {% endfor %}  
            </select>
        </div>





        
        
      </div>
      <button type="submit" class="btn btn-success">Guardar</button>
      <button type="button" class="btn btn-danger" onclick="javascript:window.history.back();">Cancelar</button>
    
    </form>
       </span>
    </div>

    {%if resultado%}
    	<p class="text-success text-center">La información ingresada se cargó con éxito</p>
    {%endif%}
  </div>
  <script type="text/javascript">
    $('#servicios option').mousedown(function(e) {
    e.preventDefault();
    var originalScrollTop = $(this).parent().scrollTop();
    console.log(originalScrollTop);
    $(this).prop('selected', $(this).prop('selected') ? false : true);
    var self = this;
    $(this).parent().focus();
    setTimeout(function() {
        $(self).parent().scrollTop(originalScrollTop);
    }, 0);
    
    return false;
});
  </script>
    
{% endblock %}
