{% extends "/layout/default/template.html.twig" %}
{% block contenido %}

<div class="card bg-light mt-0 mb-3">
    <div class="card-header">
      <h4><i class="fas fa-hotel"></i> Creando nuevas habitaciones para el hotel {{hotel}}</h4></div>
    <div class="card-body">
  <span class="card-tex ">
    <form id="createHabitacion" method="post" action="{{root}}habitacion/create">
      <div class="form-row">
        <input type="hidden" value="{{id_hotel}}" name="id_hotel">
        <input type="hidden" value="{{hotel}}" name="nombreHotel">

        <div class="form-group col-md-2">
          <label for="cantidad">Cantidad de habitaciones</label>
          <input type="number" class="form-control" id="cantidad" name="cantidad" required>
        </div>
        <div class="form-group col-md-2">
          <label for="capacidad">Capacidad</label>
          <input type="number" class="form-control" id="capacidad" name="capacidad" required>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Guardar</button>
      <button type="button" class="btn btn-danger" onclick="javascript:window.history.back();">Cancelar</button>
    
    </form>
       </span>
    </div>

    {%if resultado%}
    	<p class="text-success text-center">La información ingresada se cargó con éxito</p>
    {%endif%}
  </div>
  <div class="container">
  <h3>Listado de habitaciones</h3>

  <table id="myTable">
    <thead>
  <tr>
    <th>Cantidad</th>
    <th>Capacidad</th>
    <th>Opciones</th>
  </tr>
  </thead>
  <tbody>
  {%for habitacion in habitaciones%}
    <tr>
      <td>{{habitacion.cantidad}} habitaciones</td>
      <td>{{habitacion.capacidad}} personas</td>
      <td>
        <form action="{{root}}habitacion/eliminar" method="post">
        <input type="hidden" name="id_hotel" value="{{id_hotel}}">
        <input type="hidden" name="nombreHotel" value="{{hotel}}">
        <input type="hidden" name="capacidad" value="{{habitacion.capacidad}}">
        <label>Cantidad a eliminar:</label>
        <input type="number" min="0" max="{{habitacion.cantidad}}" name="cantidad" required>
          <button class="btn btn-link" type="submit">Eliminar</button>
        </form>

      </td> 
    </tr>
  {%endfor%}
  </tbody>

 
</table>
</div>
<script type="text/javascript">
  $(document).ready( function () {
    $('#myTable').DataTable();
} );

</script>

{% endblock %}
