{% extends "/layout/default/template.html.twig" %}
{% block contenido %}

<div class="card bg-light mt-0 mb-3">
    <div class="card-header">
      <h4><i class="fas fa-car"></i> Creando nueva agencia de autos</h4></div>
    <div class="card-body">
  <span class="card-tex ">
    <form id="crearAgencia" method="post" action="{{root}}agencia/crear">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="nombre">Nombre de la agencia</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="form-group col-md-2">
          <label for="franquicia">Franquicia</label>
          <select class="form-control" id="id_franquicia" name="id_franquicia">
                        {%for franquicia in franquicias %}
              <option value="{{franquicia.id_franquicia}}">{{franquicia.franquicia}}</option>
            {% endfor %}                
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="ciudad">Ciudad</label>
            <select class="form-control" id="ciudad" name="ciudad">
                        {%for ciudad in ciudades%}
              <option value="{{ciudad.id_ciudad}}">{{ciudad.ciudad}}</option>
            {% endfor %}                
            </select>
        </div>
        
      </div>
      <button type="submit" class="btn btn-success">Guardar</button>
      <button type="button" class="btn btn-danger" onclick="javascript:window.history.back();">Cancelar</button>
    
    </form>
       </span>
    </div>

    {%if resultado%}
    	<p class="text-success text-center">La información ingresada se cargó con éxito</p>
    {%endif%}
  </div>
    
{% endblock %}
