{% extends "/layout/default/template.html.twig" %}
{% block contenido %}

<div class="card bg-light mt-0 mb-3">
    <div class="card-header">
      <h4><i class="fas fa-car"></i> Cargar autos para agencia {{agencia}}</h4></div>
    <div class="card-body">
  <span class="card-tex ">
    <form id="createAuto" method="post" action="{{root}}agencia/cargarAutos">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="cantidad">Cantidad de autos</label>
          <input type="number" class="form-control" id="cantidad" name="cantidad" onchange="agregarPatente();" required>
        </div>
        <input type="hidden" name="agencia" value="{{id_agencia}}-{{agencia}}">
        <div class="form-group col-md-2">
          <label for="capacidad">Capacidad</label>
          <input type="number" class="form-control" id="capacidad" name="capacidad" required>
        </div>
        <div class="form-group col-md-4">
          <label for="marca">Marca</label>
          <select class="form-control" name="marca" id="marca">
            {%for marca in marcas%}
              <option value="{{marca.id_marca}}">{{marca.marca}}</option>
            {% endfor %} 
          </select>    
        </div>
        <div class="form-group col-md-4">
          <label for="marca">Gama</label>
          <select class="form-control" name="gama" id="gama" required>
            {%for gama in gamas%}
              <option value="{{gama.id_gama}}">{{gama.gama}}</option>
            {% endfor %} 
          </select>    
        </div>
        <div class="form-group col-md-2">
          <label for="autonomia">Autonomía</label>
          <input type="number" class="form-control" id="autonomia" name="autonomia" required>
        </div>
        
          
          
       
      </div>
      <button type="submit" class="btn btn-success">Guardar</button>
      <button type="button" class="btn btn-danger" onclick="javascript:window.history.back();">Cancelar</button>
    
    </form>
       </span>
    </div>

    {%if resultado%}
    	<p class="text-success text-center">La información ingresada se cargó con éxito</p>
    {%endif%}
  </div>
    


<div class="container">
  <h3>Listado de autos</h3>

  <table id="myTable">
  <thead>
  <tr>
    
    <th>Cantidad</th>
    <th>Capacidad</th>
    <th>Marca</th>
    <th>Gama</th>
    
    <th>Opciones</th>
  </tr>
  </thead>
  <tbody>
  {%for auto in autos%}
    <tr>
      
      <td>{{auto.cantidad}} autos</td>
      <td>{{auto.capacidad}} personas</td>
      <td>{{auto.marca}}</td>
      <td>{{auto.gama}}</td> 
      
      <td>
        <form action="{{root}}agencia/eliminarAuto" method="post">
        <input type="hidden" name="agencia" value="{{agencia}}">
          <input type="hidden" name="id_agencia" value="{{id_agencia}}">
          <input type="hidden" name="gama" value="{{auto.gama}}">
          <input type="hidden" name="marca" value="{{auto.marca}}">
          <input type="hidden" name="capacidad" value="{{auto.capacidad}}">
          <label>Cantidad a eliminar:</label>
          <input type="number" min="0" max="{{auto.cantidad}}" name="cantidad_a_eliminar" required>
          <button class="btn btn-link" type="submit">Eliminar</button>
        </form>
      </td>  
    </tr>
  {%endfor%}
  </tbody>

 
</table>
</div>














<script type="text/javascript">
	function fechaParaAdelante(){
		document.getElementById('desdeFecha').setAttribute("min", formatDate(new Date()));
		document.getElementById('hastaFecha').setAttribute("min", formatDate(new Date()));

	}

}

$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
{% endblock %}
