{% extends "/layout/default/template.html.twig" %}
{% block contenido %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>     
<!--<script type="text/javascript">

function activar_boton() {
    var campo = $('#marca').val();

    if((campo!=null)&&(campo!='')) {
        consol.log("entra");
        alert("campo");
        $('#boton_envia').attr('disabled', false);

    } else {

        $('#boton_envia').attr('disabled', true);

    } });

</script>  -->

 <div id="test-list">
     {%if segundo_filtrado_activo == 1%}
            <form action="segundoFiltrado" method="post">
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Filtrar por marca</strong>
                            <p>
                                <select class="form-control" id="marca" name="marca" <!-- onchange="activar_boton()" --> >
                                    
                                        <option selected="true" disabled="disabled">Elegir una marca</option>
                                        {% set newArray = [] %}

                                        {% for auto in autos%}
                                        {% if auto.marca not in newArray %}
                                            {% set newArray = newArray|merge([auto.marca]) %}
                                        {% endif %}

                                        {% endfor %}
                                        {%for marca in newArray%}
                                            <option value="{{marca}}">{{marca}}</option>                         
                                        {% endfor %}
                                
                      
                                </select>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <strong>Filtrar por gama</strong>
                            <p>
                                <select class="form-control" id="gama" name="gama">
                                    
                                        <option selected="true" disabled="disabled">Elegir gama</option>
                                        {% set newArray = [] %}

                                        {% for auto in autos%}
                                            {% if auto.gama not in newArray %}
                                            {% set newArray = newArray|merge([auto.gama]) %}
                                        {% endif %}

                                        {% endfor %}
                                        {%for gama in newArray%}
                                            <option value="{{gama}}">{{gama}}</option>                         
                                        {% endfor %}
                                
                      
                                </select>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <strong>Filtrar por agencia</strong>
                            <p>
                                <select class="form-control" id="agencia" name="agencia">
                                    
                                        <option selected="true" disabled="disabled">Elegir una agencia</option>
                                        {% set newArray = [] %}

                                        {% for auto in autos%}
                                          {% if auto.nombre not in newArray %}
                                            {% set newArray = newArray|merge([auto.nombre]) %}
                                          {% endif %}

                                        {% endfor %}
                                        {%for agencia in newArray%}
                                            <option value="{{agencia}}">{{agencia}}</option>                         
                                        {% endfor %}
                                
                      
                                </select>
                            </p>
                        </div>

                        <div class="col-md-2">
                            <strong>Filtrar por autonomía</strong>
                            <p>

                               <label>Menor/Igual a</label>
                               <input type="number" min="0" name="autonomiaMenor" id="autonomiaMenor" onmousedown="javascript:document.getElementById('autonomiaMayor').value='';" onkeydown="javascript:document.getElementById('autonomiaMayor').value='';">

                               <label>Mayor/Igual a</label>
                               <input type="number" min="0" name="autonomiaMayor" id="autonomiaMayor" onmousedown="javascript:document.getElementById('autonomiaMenor').value='';" onkeydown="javascript:document.getElementById('autonomiaMenor').value='';">
                            </p>
                        </div>
                        <div class="col-md-1">
                            <button type="submit"class="btn btn-info" id="boton_envia" <!--disabled-->filtrar</button>
                        </div>
                    </div>
            
        </form>
        {%else%}
            <form action="quitarFiltrado" method="post">
                <div class="col-md-3">
                    <p>
                    <button type="submit"class="btn btn-info">Quitar filtrado</button>
                </div>
            </form>
        {%endif%}
	 
	 <ul class="list-group list">
	 	{% for auto in autos %}
		  <li class="list-group-item">
		  	<div class="row">
			  <div class="col"><strong>Ciudad de origen:</strong><p>{{auto.origenCiudad}}</p></div>
                          <div class="col"><strong>Ciudad de Destino:</strong><p>{{auto.destinoCiudad}}</p></div>
                          <div class="col"><strong>Agencia de Origen:</strong><p>{{auto.nombre}}</p></div>
                        </div>
		  	<div class="row">
			  <div class="col"><strong>Desde: </strong><p>{{fechaDesde}}</p></div>
			  <div class="col"><strong>Hasta:</strong><p>{{fechaHasta}}</p></div>  
                          <div class="col"><strong>Cantidad de personas:</strong><p>{{auto.capacidad}}</p></div>
			</div>
                        <div class="row">
                            <div class="col"><strong>Precio:</strong><p>${{auto.precio_por_dia * cantidadDias}}</p></div>
                            <div class="col"><strong>Marca:</strong><p>{{auto.marca}}</p></div>
                            <div class="col"><strong>Gama:</strong><p>{{auto.gama}}</p></div>
                            <div class="col"><strong>Autonomía:</strong><p>{{auto.autonomia}}</p></div>
                        </div>
                        
                        <div class="row">
                            <form method="post" action="{{root}}agencia/agregarCarrito">
                           	<input type="hidden" name="id_usuario" value="{{id_usuario}}">
			  				<input type="hidden" name="id_auto" value="{{auto.id_auto}}">
			  				<input type="hidden" name="precio_abonado" value="{{auto.precio_por_dia * cantidadDias}}">
			  				<input type="hidden" name="fecha_desde" value="{{fechaDesde}}">
			  				<input type="hidden" name="fecha_hasta" value="{{fechaHasta}}">
			  				<input type="hidden" name="origenAgencia" value="{{auto.origenAgencia}}">
			  				<input type="hidden" name="destinoAgencia" value="{{auto.destinoAgencia}}">
			  				<input type="hidden" name="origenPais" value="{{auto.origenPais}}">
			  				<input type="hidden" name="destinoPais" value="{{auto.destinoPais}}">

			  				{%if cliente%}
			  	
			  	<button type="submit" class="btn btn-lg btn-warning"> <i class="fas fa-shopping-cart"></i> Agregar al carrito</button>{%endif%}
                            </form>
                          </div>                        			
		  </li>
	  	{% endfor %}
	</ul> 	
	<ul class="pagination"></ul>
	</div>
	 
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
	<script>
		var monkeyList = new List('test-list', {
  valueNames: ['name'],
  page: {{config.items_por_pagina}},
  pagination: true
});
	</script>

{% endblock %}
