{% extends "/layout/default/template.html.twig" %}
{% block contenido %}
<p class="text-danger">No se encontraron autos disponibles. Disculpe las molestias.</p>
<button type="button" class="btn btn-default" onclick="window.location.href='{{root}}'">Realizar nueva búsqueda</button>
{% endblock %}