{% extends "/layout/default/template.html.twig" %}
{% block contenido %}
<p>Lo que hacemos al consumir una habitacion es cambiar la "fecha desde" a una anterior al dia de la fecha actual, para que luego cuando el usuario se loguee pase a estado consumida.</p>

<form id="consumirHabitacion" method="post" action="{{root}}habitacion/consumir">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nroHab" class=" col-form-label col-form-label-sm">Ingrese el id de la reserva de habitación a consumir</label>
          <input type="number" class="form-control" id="nro_reserva_hab_consumir" name="nro_reserva_hab_consumir" required>
        </div>
        <button type="submit" class="btn btn-success">Consumir</button>
        <button type="button" class="btn btn-danger" onclick="javascript:window.history.back();">Cancelar</button>
        </div>
        </div>

 </form>




{% endblock %}
