{% extends "/layout/default/template.html.twig" %}
{% block contenido %}

<a href="../test/iniciar">Iniciar Test</a><br>
<a href="../test/consumirHabitacionView">Consumir una habitación</a>




{% endblock %}
