{% extends "/layout/default/template.html.twig" %}
{% block contenido %}
{%set max=min(puntos,(total_a_abonar/config.puntos_por_pesos))%}

<h2>Solo nos queda un paso!</h2>
<h4>Elegì como vas a realizar el pago y comenza a soñar con tu viaje!</h4>
<p>El monto total a abonar por tu compra es de ${{total_a_abonar}} ó {{total_a_abonar/config.puntos_por_pesos}} puntos.</p>
<p>Tenés {{puntos}} puntos disponibles para utilizar</p>

<form method="post" action="pagarCompra">
  <div class="form-row">
        <div class="form-group col-md-6">
          <label for="puntos_a_usar" class=" col-form-label col-form-label-sm">Cantidad de puntos a canjear</label>
          <input type="number" name="puntos_a_usar" id="puntos_a_usar" size="3" min="0" max="{{max}}" {%if puntos == 0 %} disabled{%endif%}>
          <input type="hidden" name="puntos_a_acumular" id="puntos_a_acumular">
          <input type="hidden" name="abona_con_tarjeta" id="abona_con_tarjeta">
          <br>

          <label for="nro_tarjeta" class=" col-form-label col-form-label-sm">Número de tarjeta de crédito</label>
          
          <input type="text" name="nro_tarjeta" id="nro_tarjeta" size="25" placeholder="Ej: 1234-5678-9101-1121"><br>
          Monto a abonar con tarjeta $<span id="abonas_con_tarjeta">{{total_a_abonar}}</span>
          <p id="con_esta_compra_sumas"></p>
        </div>
  </div>
  <div class="form-row">
        <button type="submit" class="btn btn-success" onclick="javascript: return ValidateCreditCardNumber();">Finalizar Compra</button>
        <button type="button" class="btn btn-danger" onclick="javascript:window.history.back();">Volver al carrito</button>
      </div>
      <div class="form-row">
        <p id="error" class="text-danger"></p>
  </div>
  
  

</form>



<script>

  
  $( "#nro_tarjeta" ).change(function() {
    $( "#abona_con_tarjeta" ).val({{total_a_abonar}}- $( "#puntos_a_usar" ).val()*{{config.puntos_por_pesos}});
    $( "#con_esta_compra_sumas" ).text("Realizando esta compra acumulás "+$("#abonas_con_tarjeta").text()*{{config.pesos_por_puntos}}+" puntos.");
});


    $( "#puntos_a_usar" ).change(function() {
      $( "#abonas_con_tarjeta" ).text({{total_a_abonar}}- $(this).val()*{{config.puntos_por_pesos}});    
      $( "#abona_con_tarjeta" ).val({{total_a_abonar}}- $(this).val()*{{config.puntos_por_pesos}});
      $( "#con_esta_compra_sumas" ).text("Realizando esta compra acumulás "+$("#abonas_con_tarjeta").text()*{{config.pesos_por_puntos}}+" puntos.");
      $( "#puntos_a_acumular" ).val($("#abonas_con_tarjeta").text()*{{config.pesos_por_puntos}});

      
    });
    


    function ValidateCreditCardNumber() {

      var ccNum = document.getElementById("nro_tarjeta").value;
      var regEx = /^\d{4}-?\d{4}-?\d{4}-?\d{4}$/;
      var isValid = false;

      if (regEx.test(ccNum) || document.getElementById("abonas_con_tarjeta").innerHTML=="0") {
        isValid = true;
      }

      if(isValid) {
         return true;
      } 
      if (document.getElementById("abonas_con_tarjeta").innerHTML!=="0"){
        document.getElementById("error").innerHTML="El número de tarjeta ingresado no es válido.";
      }
      return false;
    }
  

    


</script>

{% endblock %}
