{% extends "/layout/default/template.html.twig" %}
{% block contenido %}
<div class="card bg-light mt-0 mb-3">
    <div class="card-header">
      <h4><i class="fas fa-user"></i> Login de Usuario</h4></div>
    <div class="card-body">
  <span class="card-tex ">
    <form id="loginUsuario" method="post" action="autenticar">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="usuario" class=" col-form-label col-form-label-sm">Usuario</label>
          <input type="text" class="form-control" id="nombre_de_usuario" name="nombre_de_usuario" placeholder="Ingrese el nombre de usuario" required>
        </div>
        <div class="form-group col-md-6">
          <label for="contraseña" class=" col-form-label col-form-label-sm">Contraseña</label>
          <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Ingrese la contraseña" required>
        </div>
        <div class="form-row">
        <button type="submit" class="btn btn-success">Acceder</button>
        <button type="button" class="btn btn-danger" onclick="javascript:window.history.back();">Cancelar</button>
        </div>
        </div>

    </form>
  </span>
  {%if errorAlLoguearse %}
    <p class="text-danger">Error al iniciar sesión</p>
  {%endif%}
    </div>
 
  </div>
{% endblock %}