{% extends "/layout/default/template.html.twig" %}
{% block contenido %}
{%if error%}
<p class="text-danger">Cuidado, el mail o nombre de usuario ya existen, intente nuevamente</p>
{%endif%}
<div class="card bg-light mt-0 mb-3">
    <div class="card-header">
      <h4><i class="fas fa-user"></i> Modificacion de datos del Usuario</h4></div>
    <div class="card-body">
  <span class="card-tex ">
  <form id="modificacionUsuario" method="post" action="update">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="nombre" class=" col-form-label col-form-label-sm">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" value="{{datos.nombre}}" required>
        </div>
        <div class="form-group col-md-4">
          <label for="apellido" class=" col-form-label col-form-label-sm">Apellido</label>
          <input type="text" class="form-control" id="apellido" name="apellido" value="{{datos.apellido}}" required>
        </div>
        <div class="form-group col-md-4">
            <label for="numero" class=" col-form-label col-form-label-sm">Nº de documento</label>
            <input type="number" class="form-control" id="dni" name="dni" value="{{datos.dni}}" required>
          </div>
      </div>
      <div class="form-row">

 		<div class="form-group col-md-4">
            <label for="numero" class=" col-form-label col-form-label-sm">Nombre de usuario</label>
            <input type="text" class="form-control" id="nombre_de_usuario" name="nombre_de_usuario" value="{{datos.nombre_de_usuario}}" required>
          </div>
          <div class="form-group col-md-4">
            <label for="numero" class=" col-form-label col-form-label-sm">Mail</label>
            <input type="email" class="form-control" id="mail" name="mail" value="{{datos.mail}}" required>
          </div>
          
      </div>
      <div class="row">
      	<div class="form-group col-md-6">
            <label for="numero" class=" col-form-label col-form-label-sm">Pregunta secreta</label>
            <input type="text" class="form-control" id="pregunta_secreta" value="{{datos.pregunta_secreta}}" name="pregunta_secreta" required>
          </div>
         <div class="form-group col-md-6">
            <label for="numero" class=" col-form-label col-form-label-sm">Respuesta secreta</label>
            <input type="text" class="form-control" id="respuesta_secreta" name="respuesta_secreta"  value="{{datos.respuesta_secreta}}"" required>
          </div>
      </div>

      <input type="hidden" id="id_usuario" name="id_usuario" value="{{id_usuario}}">
      <button type="submit" class="btn btn-success">Guardar Cambios</button>
      <button type="submit" class="btn btn-danger" href="{{root}}usuario/perfil/{{datos.nombre_de_usuario}}">Cancelar</button>
    
    </form>
       </span>
    </div>
  </div>
{% endblock %}