{% extends "/layout/default/template.html.twig" %}
{% block contenido %}
{% if cliente %}
<ul class="list-group">
<li class="list-group-item">
<div class="row">
<div class="col"><strong>Nombre de Usuario:</strong><p>{{usuario.nombre_de_usuario}}</p></div>
</div>
<div class="row">
<div class="col"><strong>Correo Electronico:</strong><p>{{usuario.mail}}</p></div>
</div>
<div class="row">
<div class="col"><strong>Nombre:</strong><p>{{usuario.nombre}}</p></div>
</div>
<div class="row">
<div class="col"><strong>Apellido:</strong><p>{{usuario.apellido}}</p></div>
</div>
<div class="row">
<div class="col"><strong>Numero de Documento:</strong><p>{{usuario.dni}}</p></div>
</div>
<div class="row">
<div class="col"><strong>Puntos:</strong><p>{{usuario.puntos}}</p></div>
</div>
{%else%}
<ul class="list-group">
<li class="list-group-item">
<div class="row">
<div class="col"><strong>Nombre de Usuario:</strong><p>{{usuario.nombre_de_usuario}}</p></div>
</div>
<div class="row">
<div class="col"><strong>Correo Electronico:</strong><p>{{usuario.mail}}</p></div>
</div>
<div class="row">
<div class="col"><strong>Nombre:</strong><p>{{usuario.nombre}}</p></div>
</div>
<div class="row">
<div class="col"><strong>Apellido:</strong><p>{{usuario.apellido}}</p></div>
</div>
{%endif%}
<div class="row">
<form method="post" action="{{root}}usuario/modificar">
			  	<input type="hidden" name="nombre_de_usuario" value="{{usuario.nombre_de_usuario}}">
			  	<input type="hidden" name="apellido" value="{{usuario.apellido}}">
			  	<input type="hidden" name="dni" value="{{usuario.dni}}">
			  	<input type="hidden" name="nombre" value="{{usuario.nombre}}">
			  	<input type="hidden" name="mail" value="{{usuario.mail}}">
			  	<input type="hidden" name="contrasena" value="{{usuario.contrasena}}">
			  	<input type="hidden" name="pregunta_secreta" value="{{usuario.pregunta_secreta}}">
			  	<input type="hidden" name="respuesta_secreta" value="{{usuario.respuesta_secreta}}">
			  	<button type="submit" class="btn btn-lg btn-warning">Modificar Perfil</button>
			  </form>
</div>
</li>
</ul>
{% endblock %}