{% extends "/layout/default/template.html.twig" %}
{% block contenido %}
{%if datos%}
<p class="text-danger">El nombre de usuario o email ya existen, por favor, verifique los datos y vuelva a intentarlo.</p>
{%endif%}
<div class="card bg-light mt-0 mb-3">
    <div class="card-header">
      <h4><i class="fas fa-user"></i> Registro de usuario</h4></div>
    <div class="card-body">
  <span class="card-tex ">
    <form id="altaUsuario" method="post" action="create">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="nombre" class=" col-form-label col-form-label-sm">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" value="{{datos.nombre}}"placeholder="Nombre" required>
        </div>
        <div class="form-group col-md-4">
          <label for="apellido" class=" col-form-label col-form-label-sm">Apellido</label>
          <input type="text" class="form-control" id="apellido" name="apellido" value="{{datos.apellido}}"" placeholder="Apellido" required>
        </div>
        <div class="form-group col-md-4">
            <label for="numero" class=" col-form-label col-form-label-sm">Nº de documento</label>
            <input type="number" class="form-control" id="dni" name="dni" value="{{datos.dni}}" placeholder="Nº de documento"
                    >
          </div>
      </div>
      <div class="form-row">

 		<div class="form-group col-md-4">
            <label for="numero" class=" col-form-label col-form-label-sm">Nombre de usuario</label>
            <input type="text" class="form-control" id="nombre_de_usuario" name="nombre_de_usuario" placeholder="Nombre de usuario"
                    required>
          </div>
          <div class="form-group col-md-4">
            <label for="numero" class=" col-form-label col-form-label-sm">Mail</label>
            <input type="email" class="form-control" id="mail" name="mail" placeholder="ejemplo@hotmail.com"
                    required>
          </div>
          

          <div class="form-group col-md-3">
            <label for="nro_historia_clinica" class=" col-form-label col-form-label-sm">Contraseña</label>
            <input type="password" class="form-control" id="contrasena"  name="contrasena"
                   placeholder="Ingrese una contraseña"
                     required>
          </div>
      </div>
      <div class="row">
      	<div class="form-group col-md-6">
            <label for="numero" class=" col-form-label col-form-label-sm">Pregunta secreta</label>
            <input type="text" class="form-control" id="pregunta_secreta" value="{{datos.pregunta_secreta}}" name="pregunta_secreta" placeholder="Elija una pregunta secreta"
                    required>
          </div>
         <div class="form-group col-md-6">
            <label for="numero" class=" col-form-label col-form-label-sm">Respuesta secreta</label>
            <input type="text" class="form-control" id="respuesta_secreta" name="respuesta_secreta"  value="{{datos.respuesta_secreta}}"" placeholder="Elija una respuesta secreta"
                    required>
          </div>
      </div>

      
      <button type="submit" class="btn btn-success">Registrarme</button>
      <button type="button" class="btn btn-danger" onclick="javascript:window.history.back();">Cancelar</button>
    
    </form>
       </span>
    </div>
  </div>
{% endblock %}