{% extends "/layout/default/template.html.twig" %}
{% block contenido %}
<div class="card bg-light mt-0 mb-3">
    <div class="card-header">
      <h4><i class="fas fa-user"></i> Restablecer la contraseña de un usuario</h4></div>
    <div class="card-body">
  <span class="card-tex ">
    <form id="loginUsuario" method="post" action="resetearContrasena">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="usuario" class=" col-form-label col-form-label-sm">Usuario</label>
          <input type="text" class="form-control" id="nombre_de_usuario" name="nombre_de_usuario" placeholder="Ingrese el nombre de usuario al que desea restablecerle la contraseña" required>
        </div>
        <div class="form-group col-md-6">
          <label for="contrasena_nueva" class=" col-form-label col-form-label-sm">Contraseña Nueva</label>
          <input type="password" class="form-control" id="contrasena_nueva" name="contrasena_nueva" placeholder="Ingrese la contraseña nueva" required>
        </div>
        <div class="form-row">
        <button type="submit" class="btn btn-success">Restablecer</button>
        <button type="button" class="btn btn-danger" onclick="javascript:window.history.back();">Cancelar</button>
        </div>
        </div>

    </form>
  </span>
    </div>
  </div>
{% endblock %}