{% extends "/layout/default/template.html.twig" %}
{% block contenido %}
<div class="card bg-light mt-0 mb-3">
    <div class="card-header">
      <h4><i class="fas fa-user"></i> Restablecer la contraseña</h4></div>
    <div class="card-body">
  <span class="card-tex ">
    <form id="loginUsuario" method="post" action="restablecerContrasena">
      <div class="form-row">
        <p>Para restablecer la contraseña debes responder tu pregunta secreta.</p>
        <input type="hidden" name="nombre_de_usuario" value="{{nombre_de_usuario}}">
        <div class="form-group col-md-4">
        <br>
          <label class=" col-form-label col-form-label-sm">{{pregunta_secreta}}</label>
        </div>
        <div class="form-group col-md-4">
          <label for="respuesta" class=" col-form-label col-form-label-sm">Respuesta</label>
          <input type="text" class="form-control" id="respuesta" name="respuesta" placeholder="Ingrese la respuesta a la pregunta secreta" required>
        </div>
        <div class="form-group col-md-4">
          <label for="contrasena_nueva" class=" col-form-label col-form-label-sm">Contraseña Nueva</label>
          <input type="password" class="form-control" id="contrasena_nueva" name="contrasena_nueva" placeholder="Ingrese la contraseña nueva" required>
        </div>
        <div class="form-row">
        <button type="submit" class="btn btn-success">Restablecer Contraseña</button>
        <button type="button" class="btn btn-danger" onclick="javascript:window.history.back();">Cancelar</button>
        </div>
        </div>

    </form>
  </span>
  {%if error%}
  <p class="text-danger">La respuesta ingresada no es válida, vuelva a intentarlo</p>
  {%endif%}
    </div>
  </div>
{% endblock %}