{% extends "/layout/default/template.html.twig" %}
{% block contenido %}

<div class="card bg-light mt-0 mb-3">
    <div class="card-header">
      <h4><i class="fas fa-cog"></i> Parámetros del sistema</h4></div>
    <div class="card-body">
  <span class="card-tex ">
    <form id="updateConfiguracion" method="post" action="configuracion/update">
      {%for dato in datos%}
      <div class="form-row">
        <div class="form-group form-inline">
          <label for="{{dato.variable}}" class=" col-form-label col-form-label-sm mr-2">{{dato.variable |replace({'_': ' '}) | capitalize}}</label>
          <input type="text" class="form-control" pattern="[0-9.]+" id="{{dato.variable}}" name="{{dato.variable}}" value="{{dato.valor}}" size="3" required>
          {%if 'factor' in dato.variable%}
            %
          {%endif%}
        </div>
      </div>
      {%endfor%}

      
      <button type="submit" class="btn btn-success">Guardar</button>
      <button type="button" class="btn btn-danger" onclick="javascript:window.history.back();">Cancelar</button>
    
    </form>
       </span>
    </div>
  </div>
{% endblock %}